@import "../../theme/variables.scss";

trail-card {
	ion-card {
		background-color: #323232 !important;
		border: 1px solid #242424 !important;
		border-radius: 4px !important;
		box-shadow: 0 0 2px 1px #323232 !important;
		position: relative;
		
		ion-card-header{
			color: map-get($colors, headerColor) !important;
		}
		
		ion-card-content p{
			color: map-get($colors, headerColor) !important;
		}
		
		i.type-icon {
			background-color: #FEDC00;
			right: 0;
			position: absolute;
		}
			
		.landTrail{
			//mask-image: url();
		}
		
		.waterTrail{
			//mask-image: url();
		}
		
		.operationTrail{
			//mask-image: url();
		}
	}
}
