<ion-menu [content]="mainMenu">
	<ion-header>
		<ion-toolbar>
			<ion-title>{{ 'MENU' | translate }}</ion-title>
			<ion-buttons end>
				<button ion-button menuClose icon-only (click)="openPage('SettingsPage')">
					<ion-icon name="settings"></ion-icon>
				</button>
			</ion-buttons>
		</ion-toolbar>
	</ion-header>
	<ion-content>
		<ion-list>
			<ion-buttons>
				<ion-item-group>
					<ion-item-group>
						<button menuClose ion-item (click)="openPage('HomePage')">
							<ion-icon item-start name="home"></ion-icon>{{ 'HOMEPAGE' | translate }}
						</button>
						<button ion-item menuClose>
							<ion-icon item-start name="cloud-upload"></ion-icon>{{ 'ONLINE_TRAILING' | translate }}
						</button>
						<button menuClose ion-item (click)="openPage('HistoryPage')">
							<ion-icon item-start name="pulse"></ion-icon>{{ 'HISTORY' | translate }}
						</button>
					</ion-item-group>
					<ion-item-group>
						<ion-list-header>
							{{ 'LAST_TRAILS' | translate }}
						</ion-list-header>
						<div *ngIf="trails.length > 0">
							<trail-card menuClose *ngFor="let trailSet of trails" [trail]="trailSet" (click)="openEntry(trailSet)"></trail-card>
						</div>
					</ion-item-group>
				</ion-item-group>
			</ion-buttons>
		</ion-list>
	</ion-content>
	<ion-footer>
		<ion-list no-margin>
			<button detail-none menuClose ion-item item-end (click)="openPage('HelpPage')">
				<ion-icon item-start name="help-circle"></ion-icon>{{ 'ABOUT' | translate }}
			</button>
		</ion-list>
	</ion-footer>
</ion-menu>
<ion-nav [root]="rootPage" #mainMenu swipeBackEnabled="false"></ion-nav>
