@import "../../theme/variables.scss";

details-form {
	.submit-details-form{
		background-color: map-get($colors, headerColorBackground);
		color: map-get($colors, primary);
		padding: 10px 0;
		width: 100%;
	}
	
	.spacer{
		margin-top: 50px;
	}
	
	.list-md + ion-list ion-list-header{
		margin-top: 0 !important;
	}
	
	.list-header-md{
		margin-bottom: 0 !important;
	}
}
