<ion-header>
  <ion-navbar>
    <ion-title>{{'TRAIL_INIT' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

    <button ion-button (click)="takePicture()">PICTURE</button>

    <ion-list>
        <label>{{'TRAIL_DOG_NAME' | translate}}</label>

        <div  *ngIf="isLandTrail === false">
            <ion-item *ngFor="let dogName of dogNames; let i = index; trackBy: customTrackBy">
                <ion-input [(ngModel)]="dogNames[i]" (ionChange)="addDogInput($event, i)" type="text" placeholder="{{'TRAIL_DOG_NAME' | translate}}"></ion-input>
            </ion-item>
        </div>
        <div *ngIf="isLandTrail === true">
            <ion-item>
                <ion-input [(ngModel)]="dogNames[0]" type="text" placeholder="{{'TRAIL_DOG_NAME' | translate}}"></ion-input>
            </ion-item>
        </div>
    </ion-list>
    <ion-list>
        <ion-list-header>{{'MAP_PRECIPITATION' | translate}}</ion-list-header>
        <ion-item>
            <ion-label>{{'MAP_RAINFALL' | translate}}</ion-label>
            <ion-select>
                <ion-option *ngFor="let percipitation of weather_Precipitation">{{percipitation}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>{{'MAP_WIND_DIRECTION' | translate}}</ion-label>
            <ion-select (ionChange)="test($event)">
                <ion-option *ngFor="let windDirection of weather_WindDirection" value="{{windDirection}}">{{windDirection}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>{{'MAP_TEMPERATURE' | translate}}</ion-label>
            <ion-input type="number" [(ngModel)]="weather_Temperature"></ion-input>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-list-header>{{'PERSON_DESCRIPTION' | translate}}</ion-list-header>
        <ion-item>
            <ion-label>{{'PERSON_NAME' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="person.name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{'PERSON_NAME' | translate}}</ion-label>
            <ion-input type="number" [(ngModel)]="person.age"></ion-input>
        </ion-item>
        <ion-item>
            <!-- TODO (Christian): Wie verknüpft man boolean mit ion select?  -->
            <ion-label>{{'PERSON_GLASSES' | translate}}</ion-label>
            <ion-select>
                <ion-option value="1">{{'YES' | translate}}</ion-option>
                <ion-option value="0">{{'NO' | translate}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>{{'PERSON_HAIR' | translate}}</ion-label>
            <ion-select [(ngModel)]="person.hair_choice">
                <ion-option *ngFor="let hair123 of hair">{{hair123}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>{{'PERSON_HAIR_COLOR' | translate}}</ion-label>
            <ion-select [(ngModel)]="person.hairColor_choice">
                <ion-option *ngFor="let hairColor123 of hairColor">{{hairColor123}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>{{'PERSON_BODY_TYPE' | translate}}</ion-label>
            <ion-select [(ngModel)]="person.body_choice">
                <ion-option *ngFor="let body123 of body">{{body123}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>{{'PERSON_ALLERGIES' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="person.allergies"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{'PERSON_ILLNESS' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="person.illness"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{'PERSON_MEDICATION' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="person.medication"></ion-input>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-list-header>{{'TRAIL_SITUATION' | translate}}</ion-list-header>
        <ion-item>
            <ion-label>{{'TRAIL_SITUATION_WHAT' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="situation"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{'TRAIL_SITUATION_PRE' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="preSituation"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{'TRAIL_SITUATION_RISKS' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="risks"></ion-input>
        </ion-item>
    </ion-list>
    <button ion-button (click)="gotoMap()">{{'GO' | translate}}</button>
</ion-content>
