@import '../../theme/variables.scss';

page-water-map {

    ion-content {
        overflow: hidden;
    }

    ion-grid{
        height: 100%;
        align-items: stretch;
    }

    ion-label{
        align-self: flex-start;
    }

    .map-container{
        height: 70%;
        width: 100%;
    }

    .map-buttons{
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .map{
        height: 100%;
        width: 100%;
    }

    .function-container{
        background-color: map-get($colors, waterMapColorLight);
        height: calc(30% - 7px);
        width: 100%;
    }

    div.slide-zoom{
        overflow-y: auto;
        height: 100%;
    }
	
	div.loaded{
		height: 100%;
	}

    .top-edge{
        margin: 0;
        background-color: map-get($colors, headerColorBackground);
	    border: 3px solid map-get($colors, headerColorBackground);
    }
}
