@import '../../theme/variables.scss';

page-water-map {

    ion-content {
        overflow: hidden;
    }

    ion-grid{
        height: 100%;
        align-items: stretch;
    }

    ion-label{
        align-self: flex-start;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .map-container{
        height: 70%;
        width: 100%;
    }

    .map-buttons{
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .map{
        height: 100%;
        width: 100%;
    }

    .function-container{
        background-color: map-get($colors, waterMapColorLight);
        height: 30%;
        width: 100%;
    }
    
    div.slide-zoom{
        overflow-y: auto;
        height: 100%;
    }
}
