page-water-map {

    ion-content {
        overflow: hidden;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    #map {
        height: 100%;
    }

    #func-container {
        position: absolute;
        z-index: 5;
    }

}
