<ion-header>
	<ion-navbar hideBackButton="true">
		<ion-buttons start>
			<button ion-button icon-only (click)="dismissTrail()">
				<ion-icon name="close"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>{{'MAP_LAND' | translate}}</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="editDetails()">
				<ion-icon name="create"></ion-icon>
			</button>
			<button ion-button icon-only (click)="endTrail()">
				<ion-icon name="done-all"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="map-container">
		<div class="map-buttons">
			<ion-fab top left>
				<button ion-fab color="landMapColor" (click)="centerMap()">
					<ion-icon name="locate"></ion-icon>
				</button>
			</ion-fab>

			<ion-fab middle left>
				<button ion-fab color="landMapColor" mini (click)="toggleFlashlight()">
					<ion-icon name="sunny"></ion-icon>
				</button>
			</ion-fab>

			<ion-fab top right>
				<button ion-fab color="landMapColor">
                    <ion-icon name='pin'></ion-icon>
                </button>
				<ion-fab-list side="bottom">
					<button ion-fab (click)="addEndMarker()">
                        <ion-icon name='close'></ion-icon>
                    </button>
					<button ion-fab (click)="addInterestMarker()">
                        <ion-icon name='bulb'></ion-icon>
                    </button>
					<button ion-fab (click)="addWindDirectionMarker()">
                        <ion-icon name='navigate'></ion-icon>
                    </button>
				</ion-fab-list>
			</ion-fab>
		</div>

		<div #map class="map"></div>
	</div>

	<hr class="top-edge">

	<div class="function-container">

		<div class="loading" *ngIf="mapLoaded === false">
			<ion-spinner></ion-spinner>
		</div>

		<div class="loaded" *ngIf="mapLoaded === true">

			<ion-slides>

				<div *ngIf="isRunnerTrail === true" class="runner-slide">
					<ion-slide class="runner-slide-inner">
						<!-- RUNNER-SLIDE -->
						<ion-grid>
							<ion-row>
								<ion-col>{{'MAP_RUNNER' | translate}}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col>{{'MAP_DISTANCE' | translate}}:</ion-col>
								<ion-col>{{'TIME' | translate}}:</ion-col>
							</ion-row>
							<ion-row>
								<ion-col>{{runnerTrail.distance}}</ion-col>
								<ion-col>{{runTime | date: 'HH:mm:ss' : '+0000'}}</ion-col>
							</ion-row>
						</ion-grid>
					</ion-slide>
				</div>

				<div *ngIf="isRunnerTrail === false" class="dog-slide">
					<ion-slide class="dog-slide-inner">
						<!-- DOG-SLIDE -->
						<ion-grid>
							<ion-row>
								<ion-col>{{'MAP_RUNNER' | translate}}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col>{{'MAP_DISTANCE' | translate}}:</ion-col>
								<ion-col>{{'TIME' | translate}}:</ion-col>
							</ion-row>
							<ion-row>
								<ion-col>{{runnerTrail.distance}}</ion-col>
								<ion-col>{{runnerTrailTime | date: 'HH:mm:ss' : '+0000'}}</ion-col>
							</ion-row>

							<hr class="sep-line">

							<ion-row>
								<ion-col>{{'TRAIL_DOG' | translate}}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col>{{'MAP_DISTANCE' | translate}}:</ion-col>
								<ion-col>{{'TIME' | translate}}:</ion-col>
							</ion-row>
							<ion-row>
								<ion-col>{{dogTrail.distance}}</ion-col>
								<ion-col>{{runTime | date: 'HH:mm:ss' : '+0000'}}</ion-col>
							</ion-row>
						</ion-grid>
					</ion-slide>
				</div>

				<div class="person-slide">
					<ion-slide class="person-slide-inner">
						<!-- PERSON-SLIDE -->
                        <ion-scroll scrollX="true" scrollY="true" style="width: 100%; height: 100%">
                            <ion-grid>
                                <ion-row>
                                    <ion-col>
	                                    <ion-row>
		                                    <ion-col text-left>{{'PERSON_NAME' | translate}}:</ion-col>
		                                    <ion-col text-right>{{trailSet.person.name}}</ion-col>
	                                    </ion-row>
                                    </ion-col>
                                </ion-row>
								<hr class="sep-line">
                                <ion-row>
                                    <ion-col>
	                                    <ion-row>
		                                    <ion-col text-left>{{'PERSON_AGE' | translate}}:</ion-col>
		                                    <ion-col text-right>{{trailSet.person.age}}</ion-col>
	                                    </ion-row>
                                    </ion-col>
	                                <ion-col>
		                                <ion-row>
			                                <ion-col text-left>{{'PERSON_GLASSES' | translate}}:</ion-col>
			                                <ion-col text-right *ngIf="trailSet.person.glasses === 0">{{'NO' | translate}}</ion-col>
			                                <ion-col text-right *ngIf="trailSet.person.glasses === 1">{{'YES' | translate}}</ion-col>
		                                </ion-row>
	                                </ion-col>
                                </ion-row>
								<hr class="sep-line">
	                            <ion-row>
		                            <ion-col>
			                            <ion-row>
				                            <ion-col text-left>{{'PERSON_HAIR' | translate}}:</ion-col>
				                            <ion-col text-right>{{trailSet.person.hair_choice}}</ion-col>
			                            </ion-row>
		                            </ion-col>
	                            </ion-row>
								<hr class="sep-line">
	                            <ion-row>
		                            <ion-col>
			                            <ion-row>
				                            <ion-col text-left>{{'PERSON_HAIR_COLOR' | translate}}:</ion-col>
				                            <ion-col text-right>{{trailSet.person.hairColor_choice}}</ion-col>
			                            </ion-row>
		                            </ion-col>
	                            </ion-row>
								<hr class="sep-line">
	                            <ion-row>
		                            <ion-col>
			                            <ion-row>
				                            <ion-col text-left>{{'PERSON_BODY_TYPE' | translate}}:</ion-col>
				                            <ion-col text-right>{{trailSet.person.body_choice}}</ion-col>
			                            </ion-row>
		                            </ion-col>
	                            </ion-row>
								<hr class="sep-line">
	                            <ion-row>
		                            <ion-col>
			                            <ion-row>
				                            <ion-col text-left>{{'PERSON_ILLNESS' | translate}}:</ion-col>
				                            <ion-col text-right>{{trailSet.person.illness}}</ion-col>
			                            </ion-row>
		                            </ion-col>
	                            </ion-row>
								<hr class="sep-line">
	                            <ion-row>
		                            <ion-col>
			                            <ion-row>
				                            <ion-col text-left>{{'PERSON_MEDICATION' | translate}}:</ion-col>
				                            <ion-col text-right>{{trailSet.person.medication}}</ion-col>
			                            </ion-row>
		                            </ion-col>
	                            </ion-row>
								<hr class="sep-line">
                                <ion-row>
	                                <ion-col>
		                                <ion-row>
			                                <ion-col text-left>{{'PERSON_ALLERGIES' | translate}}:</ion-col>
			                                <ion-col text-right>{{trailSet.person.allergies}}</ion-col>
		                                </ion-row>
	                                </ion-col>
                                </ion-row>
								<hr class="sep-line">
	                            <ion-row>
		                            <ion-col>
			                            <ion-row>
				                            <ion-col>
					                            <div *ngIf="trailSet.person.image !== ''">
						                            <button ion-button (click)="showImage()">{{'PERSON_IMAGE' | translate}}</button>
					                            </div>
				                            </ion-col>
			                            </ion-row>
		                            </ion-col>
	                            </ion-row>
                            </ion-grid>
                        </ion-scroll>
					</ion-slide>
				</div>
			</ion-slides>
		</div>
	</div>
</ion-content>
