page-land-map {

    ion-content {
        overflow: hidden;
    }

    ion-grid{
        height: 100%;
        align-items: stretch;
    }

    ion-label{
        align-self: flex-start;
    }

    .force-color-black{
        color: black !important;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .map-container{
        height: 70%;
        width: 100%;
    }

    .map-buttons{
        position: absolute;
        height: 70%;
        width: 100%;
        z-index: 2;
    }

    .map{
        height: 100%;
        width: 100%;
    }

    .function-container{
        height: 30%;
        width: 100%;
    }

}
