page-land-map {

    ion-content {
        overflow: hidden;
    }

    ion-grid{
        height: 100%;
        align-items: stretch;
    }

    ion-label{
        align-self: flex-start;
    }

    .loading {
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .loaded {
        width: 100%;
        height: 100%;
    }

    .runner-slide{
        width: 100%;
        height: 100%;
    }

    .dog-slide{
        width: 100%;
        height: 100%;
    }

    .map-container{
        height: 70%;
        width: 100%;
    }

    .map-buttons{
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .map{
        height: 100%;
        width: 100%;
    }

    .function-container{
        height: 30%;
        width: 100%;
    }

}
