<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>{{'MAP_LAND' | translate}}</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="endTrail()">
            <ion-icon name="done-all"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
    <div class="map-container">
        <div class="map-buttons">
            <ion-fab top right>
                <button ion-fab (click)="centerMap()"><ion-icon name="locate"></ion-icon></button>
            </ion-fab>
            <ion-fab center right>
                <button ion-fab (click)="toggleFlashlight()"><ion-icon name="sunny"></ion-icon></button>
            </ion-fab>
        </div>

        <div #map class="map"></div>
    </div>
    <div class="function-container">
        <ion-slides>
            <ion-slide class="info-slide">

                <div class="loading" *ngIf="mapLoaded === false">
                    <ion-spinner></ion-spinner>
                </div>

                <div class="trail-info" *ngIf="mapLoaded === true">
                    <ion-grid>
                        <ion-label>{{'MAP_RUNNER' | translate}}</ion-label>
                        <ion-row *ngIf="isRunnerTrail === true">
                            <ion-col>
                                <ion-item>
                                    <ion-label>{{'MAP_DISTANCE' | translate}}: {{runnerTrail.distance}}</ion-label>
                                </ion-item>
                            </ion-col>

                            <ion-col>
                                <ion-item>
                                    <ion-label>{{'TIME' | translate}}:</ion-label>
                                    <ion-datetime disabled displayFormat="HH:mm:ss" [(ngModel)]="runTime"></ion-datetime>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                        <ion-row *ngIf="isRunnerTrail === false">
                            <ion-col>
                                <ion-item>
                                    <ion-label>{{'MAP_DISTANCE' | translate}}: {{runnerTrail.distance}}</ion-label>
                                </ion-item>
                            </ion-col>

                            <ion-col>
                                <ion-item>
                                    <ion-label>{{'TIME' | translate}}:</ion-label>
                                    <!--
                                    <ion-datetime disabled displayFormat="HH:mm:ss" [(ngModel)]="runTime"></ion-datetime>
                                    -->
                                </ion-item>
                            </ion-col>
                        </ion-row>

                        <ion-label>{{'TRAIL_DOG' | translate}}</ion-label>
                        <ion-row *ngIf="isRunnerTrail === false">
                            <ion-col>
                                <ion-item>
                                    <ion-label>{{'MAP_DISTANCE' | translate}}: {{dogTrail.distance}}</ion-label>
                                </ion-item>
                            </ion-col>

                            <ion-col>
                                <ion-item>
                                    <ion-label>{{'TIME' | translate}}:</ion-label>
                                    <ion-datetime disabled displayFormat="HH:mm:ss" [(ngModel)]="runTime"></ion-datetime>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-slide>
            <ion-slide class="function-slide">
                <ion-label>{{'MAP_MARKER' | translate}}</ion-label>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <button ion-button (click)="addEndMarker()">{{'MAP_MARKER_END_TEXT' | translate}}</button>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <button ion-button (click)="addInterestMarker()">{{'MAP_MARKER_INTEREST_TEXT' | translate}}</button>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <button ion-button (click)="addWindDirectionMarker($event)">{{'MAP_WIND_DIRECTION' | translate}}</button>
                            </ion-item>
                        </ion-col>

                        <ion-col>
                            <ion-item>
                                <button ion-button>{{'MAP_NO_FUNCTION' | translate}}</button>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-slide>

            <ion-slide class="person-slide">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label>{{'PERSON_NAME' | translate}}: {{trailSet.person.name}}</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label>{{'PERSON_GLASSES' | translate}}: {{trailSet.person.glasses}}</ion-label>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label>{{'PERSON_AGE' | translate}}: {{trailSet.person.age}}</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label>{{'PERSON_HAIR' | translate}}: {{trailSet.person.hair_choice}}</ion-label>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label>{{'PERSON_ALLERGIES' | translate}}: {{trailSet.person.allergies}}</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label>{{'PERSON_HAIR_COLOR' | translate}}: {{trailSet.person.hairColor_choice}}</ion-label>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label>{{'PERSON_ILLNESS' | translate}}: {{trailSet.person.illness}}</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label>{{'PERSON_BODY_TYPE' | translate}}: {{trailSet.person.body_choice}}</ion-label>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label>{{'PERSON_MEDICATION' | translate}}: {{trailSet.person.medication}}</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <button ion-button>{{'PERSON_IMAGE' | translate}}</button>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>
