page-land-map {

    ion-content {
        overflow: hidden;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    #map {
        height: 100%;
    }

    #func-container{
        position: absolute;
        right: 50%;
        z-index: 5;
    }

}
