dog-list {

    ion-list,
    ion-item,
    ion-row,
    ion-label,
    ion-checkbox{
        margin: 0;
        padding: 0;
    }

    .scheissCheckbox{
        margin: 0;
        padding: 0;
    }

    .dog-row {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .dot {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin: 10px auto;
        position: relative;
    }

    .dot-opacity-first{
        opacity: 0.8;
    }

    .dot-opacity-second{
        opacity: 0.6;
    }

    .dot-opacity-thrid{
        opacity: 0.4;
    }

    .dot-opacity-fourth{
        opacity: 0.2;
    }


}
